
@{
  Layout = "_Layout";
}
<div class = "container">
  <div class = "text-area">
    <h1>Eau Clare's Salon</h1>
  </div>
  <div class = "text-area">
    <p>@Html.ActionLink("Add a Stylist", "Index", "Stylists")</p> 
  </div>
  <div class = "text-area">
    <p>@Html.ActionLink("Add a Client", "Index", "Clients")</p>
  </div>

</div>
