
@{
  Layout = "_Layout";
}
<div class = "container">
  <h1>Eau Clare's Salon</h1>
  <p>@Html.ActionLink("Add a Stylist", "Index", "Stylists")</p> <p>@Html.ActionLink("Add a Client", "Index", "Clients")</p>
</div>
