@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<div class = "container">
  <div class = "text-area">
    <h2>Are you sure you want to delete this?</h2>
  </div>

  <div class = "text-area">
    @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
    @using (Html.BeginForm())
    {
      <input type="submit" value="Delete" />
    }
  </div>
  <div class = "text-area">
    @Html.ActionLink("Back to Clients", "Index")
  </div>

</div>
